/*------------Media Queries 768px----------*/
    /*-----------Header---------*/
@media (max-width: 768px){
    header{
        .nav-wrapper{
            nav .logo{
                font-size: 1.875rem;
            }
            nav .menu{
                width: 100%;
                height: 0;
                overflow: hidden;
            }
            nav ul{
                @include flex(column, none, none, center, .625rem);
            }
            nav label{
                display: flex;
                color: white;
                cursor: pointer;
            }
            nav #toggle:checked ~ .menu{
                height: 100%;
            }
            nav .img-logo{
                border-radius: 50%;
            }
            nav .menu a{
                font-size: .9375rem;
            }
            .menu li a:hover{
                font-size: .9375rem;
            }
        }
    }
    /*-------Main Index--------*/
    main{
        .conte-figuras{
            @include grid(none, none, none, repeat(2, 1fr), repeat(4, 1fr));
            grid-template-areas:
            "figuras1 figuras2"
            "figuras1 figuras2"
            "figuras3 figuras4"
            "figuras3 figuras4"
            ;
        }
        .conte-figuras .figuras{
            width: 70%;
            margin-left: 3.4375rem;
        }
        .conte-figuras .figuras h3{
            font-size: 1.125rem;
        }
        .comentario{
            font-size: $tamaño-h2;
            padding: 1.25rem;
        }
    }
    /* -------Main de Conocenos------ */
    main{
        .descri-conoce{
            font-size: $tamaño-h2;
         }
        .imagen-conoce{
            @include grid(none, none, none, repeat(2, 1fr), repeat(4, 1fr));
            grid-template-areas:
            "centro1 centro2"
            "centro1 centro2"
            "centro3 centro4"
            "centro3 centro4"
            ;
        }
        .imagen-conoce .centro{
            width: 70%;
            margin-left: 3.125rem;
        }
    }
    /*------------Main Tratamientos---------*/
    main{
        .contenedor-trata{
            @include grid(none, none, none, repeat(2, 1fr), repeat(4, 1fr));
            padding: .625rem .625rem 2.5rem 5.625rem;
            grid-template-areas:
            "trata1 trata2"
            "trata1 trata2"
            "trata3 trata4"
            "trata3 trata4"
            ;
        }
        .contenedor-trata .trata{
            width: 80%;
        }
        .contenedor-trata .descri-card h3{
            padding-top: 0rem;
            font-size: 1.125rem;
        }
        .contenedor-trata .descri-card p{
            font-size: .9375rem;
        }
    }
    /*-----------Main Videos----------*/
    main{
        .contenedor-video{
            @include grid(none, none, 1.25rem, repeat(2, 1fr), repeat(4, 1fr));
            gap: 1.25rem;
            padding-left: .9375rem;
            grid-template-areas: 
            "video1 video2"
            "video1 video2"
            "video3 video4"
            "video3 video4"
            ;
        }
        .video-5{
            display: none;
        }
        .video-6{
            display: none;
        }
        .contenedor-video .videos{
            width: 85%;
            padding-left: 3.125rem;
            border-radius: 0%;
            overflow: visible;
        }       
        .explica{
            font-size: $tamaño-h2;
        }
    }
    /*---------Main Contactos---------*/
    main{
        .formulario {
            padding: 0rem .625rem 1.25rem .625rem;
        }
        .formulario form {
            padding-top: 0rem;
            padding-bottom: 0rem;
        }
        .formulario .soli-turno{
             font-size: 1.5625rem;
        }
        .formulario .campos-1 {
             padding: .9375rem .625rem .9375rem .625rem;
        }
        .formulario .campos-1 .legend-1 {
             font-size: 1.25rem;
        }
        .formulario .campos-1 label {
             font-size: .9375rem;
        }
        .formulario .campos-2 {
             padding: .9375rem .625rem .9375rem .625rem;
        }
        .formulario .campos-2 .legend-2 {
             font-size: 1.25rem;
        }
        .formulario .campos-2 label {
             font-size: .9375rem;
        }
        .formulario .campos-2 input {
             width: 30%;
        }
        .formulario input[type="submit"] {
             font-size: .9375rem;
             margin-left: 35%;
        }
    }
    /* --------Footer---------- */
    footer{
        .whatsapp img{
            width: 50%;
        }
        .insta img{
            width: 50%;
        }
        .face img{
            width: 50%;
        }
        .youtube img{
            width: 50%;
        }
        .contacto{
            font-size: .9375rem;
            padding-left: .9375rem;
        }
        .seguinos{
            font-size: .9375rem;
        }
    }
}

