/*------------Media Queries 425px----------*/
    /*-----------Header---------*/
@media (max-width:425px){
    header{
        .nav-wrapper{
            nav .logo{
                font-size: 1.25rem;
            }
            nav ul{
                padding: 0px 0px;
                gap: .3125rem;
            }
            nav .img-logo{
                display: none;
            }
            nav .menu a{
                font-size: .75rem;
            }
        }
    }
    /*-------Main Index--------*/
    main{
        .descri-centro h1{
            font-size: 1.375rem;
        }
        .conte-figuras{
            @include grid(none, none, none, repeat(1, 1fr), repeat(4, 1fr));
            padding: 1.25rem 1.875rem 1.25rem .625rem;
            grid-template-areas: 
            "figuras1"
            "figuras2"
            "figuras3"
            "figuras4"
            ;
        }
        .conte-figuras .figuras{
            width: 50%;
            margin-left: 6.875rem;
        }
        .conte-figuras .figuras h3{
            font-size: .9375rem;
        }
        .comentario{
            font-size: .75rem;
        }
    }
    /* -------Main de Conocenos------ */
    main{
        .descri-conoce h1{
            font-size: $tamaño-h1;
        }
        .imagen-conoce{
            @include grid(none, none, none, repeat(1, 1fr), repeat(4, 1fr));
            padding: .9375rem .9375rem;
            grid-template-areas:
            "centro1"
            "centro2"
            "centro3"
            "centro4"
            ;
        }
        .imagen-conoce .centro{
            width: 50%;
            margin-left: 6.25rem;
        }
        .descri-conoce{
            font-size: .75rem;
        }
        .direccion iframe{
            height: 9.375rem;
        }
        .direccion h3{
            font-size: .9375rem;
        }
    }
    /*------------Main Tratamientos---------*/
    main{
        .contenedor-trata{
            @include grid(none, none, none, repeat(1, 1fr), repeat(4, 1fr));
            padding: .625rem 0rem 2.5rem 6.875rem;
            grid-template-areas:
            "trata1"
            "trata2"
            "trata3"
            "trata4"
            ;
        }
        .contenedor-trata .descri-trata{
            font-size: .9375rem;
        }
        .contenedor-trata .trata{
            width: 65%;
        }
        .contenedor-trata .descri-card h3{
            font-size: .9375rem;
        }
        .contenedor-trata .descri-card p{
            display: none;
        }
    }
    /*-----------Main Videos----------*/
    main{
        .descri-video{
            font-size: .625rem;
        }
        .contenedor-video{
            @include grid(none, none, none, repeat(1, 1fr), repeat(4, 1fr));
            grid-template-areas: 
            "video1"
            "video2"
            "video3"
            "video4"
            ;
        }
        .contenedor-video .videos{
            width: 74%;
            padding-left: 6.25rem;
        } 
        .explica{
            font-size: .75rem;
            padding-left: .625rem;
            padding-right: .625rem;
        }          
    }
    /*----------Main Contacto-------*/
    main{
        .formulario .soli-turno{
            font-size: 1.125rem;
        }
        .formulario .campos-1 {
            height: 9.375rem;
            padding: .625rem 0rem;
        }
        .formulario .campos-1 .legend-1 {
            font-size: 1.125rem;
        }
        .formulario .campos-1 label {
            font-size: .9375rem;
        }
        .formulario .campos-1 input {
            font-size: .75rem;
            width: 45%;
        }
        .formulario .campos-2 {
            height: 9.375rem;
            padding: .625rem 0rem;
        }
        .formulario .campos-2 .legend-2 {
            font-size: 1.125rem;
        }
        .formulario .campos-2 label {
            font-size: .9375rem;
        }
        .formulario .campos-2 input {
            font-size: .75rem;
            width: 45%;
        }
        .formulario input[type="submit"] {
            font-size: .75rem;
            margin-left: 22%;
        }
    }
    /* --------Footer---------- */
    footer{
        padding-left: 3.125rem;
        .whatsapp img{
            width: 40%;
        }
        .insta img{
            width: 40%;
        }
        .face img{
            width: 40%;
        }
        .youtube img{
            width: 40%;
        }
        .contacto{
            display: none;
        }
        .seguinos{
            display: none;
        }
    }
}
