/*------------Media Queries 375px----------*/
    /*-----------Header---------*/
@media (max-width: 375px){
    header{
        .nav-wrapper{
            nav .logo{
                font-size: 1rem;
            }
            nav ul{
                padding: 0px 0px;
                gap: .3125rem;
            }
            nav .img-logo{
                display: none;
            }
            nav .menu a{
                font-size: .625rem;
            }
            .menu li a:hover{
                font-size: .75rem;
            }
        }
    }
/*-------Main Index--------*/
    main{        
        .conte-figuras{
            padding: 1.25rem 1.25rem;
        }
        .conte-figuras .figuras{
            width: 45%;
            margin-left: 5.9375rem;
        }
        .figuras h3:hover{
            font-size: .9375rem;
        }
        .comentario{
            font-size: .625rem;
        }
    }
    /* -------Main de Conocenos------ */
    main{
        .imagen-conoce .centro{
            width: 10.625rem;
            margin-left: 5.3125rem;
            margin-top: 1.875rem;
        }
        .direccion h3{
            font-size: .875rem;
        }
        .direccion iframe{
            height: 7.5rem;
        }
    }
    /*------------Main Tratamientos---------*/
    main{
        .contenedor-trata{
            padding: .625rem 0rem 2.5rem 6.5625rem;
            ;
        }
        .contenedor-trata .descri-trata{
            font-size: .9375rem;
        }
        .contenedor-trata .trata{
            width: 10.625rem;
        }
        .contenedor-trata .descri-card h3{
            font-size: .75rem;
        }
        .contenedor-trata .descri-card p{
            display: none;
        }
    }
    /*-----------Main Videos----------*/
    main{
        .contenedor-video{
            padding: .3125rem .3125rem .3125rem .3125rem;
            gap: .9375rem;
        }
        .descri-video h1{
            font-size: .9375rem;
        }
        .contenedor-video .videos{
            width: 75%;
            padding-left: 6.5625rem;
        }
        .explica{
            font-size: .75rem;
            padding: .9375rem;
        }       
    }
    /*----------Main Contacto-------*/
    main{
        .formulario .soli-turno{
            font-size: .9375rem;
        }
        .formulario input[type="submit"] {
            margin-left: 20%;
        }
    }
    /* --------Footer---------- */
    footer{
        padding-left: 3.125rem;
        
        .whatsapp img{
            width: 40%;
        }
        .insta img{
            width: 40%;
        }
        .face img{
            width: 40%;
        }
        .youtube img{
            width: 40%;
        }
        .contacto{
            display: none;
        }
        .seguinos{
            display: none;
        }
    }
}



