/*------------Footer----------*/
footer{
    @include flex(row, wrap, space-between, center, none);
    width: 100%;
    height: 6.25rem; 
    background-color: $bg-header-footer;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
        .whatsapp img{
            width: 70%;
            border-radius: 50%;
        }
        .whatsapp:hover{
            transform: scale(1.2);
        }
        .insta img{
            width: 70%;
            border-radius: 50%;
        }
        .insta:hover{
            transform: scale(1.2);
        }
        .face img{
            width: 70%;
            border-radius: 50%;
        }
        .face:hover{
            transform: scale(1.2);
        }
        .youtube img{
            width: 70%;
            border-radius: 50%;
        }
        .youtube:hover{
            transform: scale(1.2);
        }
}

