/*------------Main Conocenos----------*/
main{
    .descri-conoce{
        text-align: center;
        background-color: $bg-main;
        padding: 2.1875rem 1.25rem 2.1875rem 1.25rem;
    }
    .imagen-conoce{
        @include grid(space-between, center, 1.875rem, repeat(4, 1fr), repeat(2, 1fr));
        width: 100%;
        height: auto;
        background-color: $bg-main;
        padding: .9375rem 1.5625rem;
        grid-template-areas:
        "centro1 centro2 centro3 centro4"
        "centro1 centro2 centro3 centro4"
        ;
        .centro-1{
            grid-area: centro1;
        }
         .centro-2{
             grid-area: centro2;
         }
         .centro-3{
             grid-area: centro3;
         }
         .centro-4{
             grid-area: centro4;
         }
        .centro{
            width: 100%;
            background-position: center;
            border-radius: 10%;
            overflow: hidden;
            box-shadow: .25rem .25rem .625rem rgba(85, 71, 71, 0.74);
        }
        .centro:hover{
            transform: scale(1.1);
        }
    }
    .direccion iframe{
        width: 100%;
        height: 12.5rem;
        background-color: $bg-main;
        padding-top: 1.875rem;
    }    
    .direccion h3{
        background-color: $bg-main;
        padding-top: 1.5625rem;
        text-align: center;
    }
}