/*---------Main Contactos---------*/
main{
    .formulario {
        @include flex(row, wrap, center, center, 1.25rem);
        background-color: $bg-main;
        width: 100%;
        height: auto;
        padding: .625rem;
            form {
                margin: 10px;
                width: auto;
            }
            .soli-turno{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                padding-top: 1.5625rem;
                text-shadow: 10px 10px 10px rgba(10, 10, 10, 0.61);
            }
            .campos-1 {
                border: 2px solid #0f0f0f;
                border-radius: .5rem;
                margin: .625rem 0;
                height: 6.25rem;
                padding: 1.25rem 3.125rem;
                .legend-1 {
                    padding: .3125rem .625rem;
                    font-weight: bold;
                    font-size: 1.25rem;
                    label {
                        display: block;
                        margin-bottom: 1.25rem;
                    }
                    input {
                        width: 100%;
                        padding: .5rem;
                        margin-bottom: 1rem;
                        box-sizing: border-box;
                    }
                }
            }
            .campos-2 {
                border: 2px solid #0f0f0f;
                border-radius: 8px;
                margin: .625rem 0;
                height: 6.25rem;
                padding: 1.25rem 3.125rem;
                .legend-2 {
                    padding: .3125rem .625rem;
                    font-weight: bold;
                    font-size: 1.25rem;
                    label {
                        display: block;
                        margin-bottom: 8px;
                    }
                    input {
                        width: 100%;
                        padding: .5rem;
                        margin-bottom: 1rem;
                        box-sizing: border-box;
                    }
                }
            }
        input[type="submit"] {
            background-color: #5d5f5d;
            color: #fff;
            cursor: pointer;
            border-radius: .3125rem;
        }
        input[type="submit"]:hover {
            background-color: #adafad;
        }
    }
}









